body {
    font-family: sans-serif;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    padding: 16px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
button {
    padding: 6px 24px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: rgb(59, 59, 199);
}
.header {
    background-color: #1F2937;
    display: flex;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F0FAF8;
    font-weight: 900;
}
.HeaderLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #F0FAF8;
}
.section1 {
    background-color: #1F2937;
    padding: 48px 10%;
    padding-bottom: 200px;    
    display: flex;
    justify-content: center;
}
.placeholder {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    color: white;
}   
.content-left {
    flex: 1 1 50%;
    padding-right: 32px;
}
.content-left button {
    border: none;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}  
.information-header {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 20%;
    padding-bottom: 64px;
}
.s2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    border: 5px solid #3882F6;
    border-radius: 16px;
    width: 256px;
    height: 256px;
    flex: 1 1 auto;
}
.s2-container {
    margin: 32px;
    text-align: center;
}
.section3 {
    background-color: #E5E7EB;
}
.s3-content { 
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}
.quotee {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}
.section4 {
    padding: 7% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s4-container {
    background-color: #3882F6;
    padding: px 64px;
    border-radius: 8px;
}
.s4-container p {
    color: white;
}
.s4-container h1 {
    color: white;
}
.s4-button {
    border: 2px solid white;
}