body {
    font-family: sans-serif;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    padding: 12px;
}
a {
    text-decoration: none;
}
button {
    padding: 6px 24px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}
.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 32px
;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 12px;
}
.header, .first-right {
    display: flex;
    flex-direction: row;   
}
.first-left {

}